/*                              Globals                                     */
/* headings color */
h6, h6 strong, h6 > a {
    color: #003366;
}

/* blockquote border color */
blockquote {
    border-color: #0085B2;
}

/* Horizontal Line color */
hr {
    border-color: #999999;
}

/* Default Button color*/
a.text-btn, button, input[type=button] {
    background-color: #0085b2;
    color: #FFFFFF;
}

/* Default Button color hover*/
a.text-btn:hover, button:hover, input[type=button]:hover {
    background-color: #00A3DA;
    color: #FFFFFF;
}

a.fa-icon, a.fa-icon:hover {
  color:#333333;
  font-weight:700;
}
.fa-icon > i.fa-solid {
  color:#00a3d9;
}

/*Table Elements */
/* Tble-Line preset class */
table.tbl-line thead tr th {
    background-color: #0085B2;
}

table.tbl-line tbody tr td {
    border-bottom: 1px solid #D9D9D9;
}

table.tbl-line tr:nth-of-type(1) td {
    border-top: 1px solid #D9D9D9;
}

/* Tbl-BG preset class */
table.tbl-bg tbody tr td b,
table.tbl-bg tbody tr td strong {
    color: #333333;
}

table.tbl-bg tbody tr:nth-of-type(odd) {
    background-color: #EDEDED;
}

table.tbl-bg tbody tr:nth-of-type(even) {
    background-color: #E4E4E4;
}