/*                              Globals                                     */
/* Page body global background & Text color */
body {
    background-color: #F9F9F9;
}

body.mtpc_layout_newsletter {
    background-color: #eeeeee;
}

/* Page body Text color */
body, body p {
    color: #333333;
}

/* Page body link color */
body a {
    color: #00a3d9;
}

/* Page body disabled link color */
body a.no-link {
    color: #333333;
}

/* Page body link active color */
body a:active {
    color: #00a3d9;
}

/* Page body link hover color */
body a:hover {
    color: #00a3d9;
}

/* headings color */
h1, h2, h3, h4, h5, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h1 > a, h2 > a, h3 > a, h4 > a, h5 > a {
    color: #003366;
}

h6, h6 strong, h6 > a {
    color: #0085b2;
}

.section-dark li, .section-dark p, .section-dark .mtpc-block-image-block-image-caption {
    color: #ffffff;
}


/* blockquote border color */
blockquote {
    border-color: #AED6E4;
}

/* Horizontal Line color */
hr {
    border-color: #AED6E4;
}

/* Grey Horizontal Line color */
hr.grey-line {
    border-bottom: 1px solid #999999;
    border-top: medium none;
}

/*                              TOP BAR                                     */
/* TOP BAR global Background and text color */
.mtpc_header .top-header {
    background-color: #003366;
    color: #ffffff
}

/* TOP BAR global Links */
.mtpc_header .top-header a {
    color: #ffffff;
}

/* TOP BAR global Menu Item background */
.mtpc_header .top-header ul li {
    background-color: #003366;
}

/* TOP BAR global Menu Item Links */
.mtpc_header .top-header ul li a {
    color: #ffffff;
}

/* Information menu background hover*/
.mtpc_header .top-header .information:hover {
    background-color: #00153F;
}

/* Information menu item*/
.mtpc_header .top-header .information ul li {
    border-top-color: #19356C;
}

/* Information menu item hover*/
.mtpc_header .top-header .information ul li:hover {
    background-color: #00153F;
}

/* switch language button hover */
.mtpc_header .top-header .switch-language:hover {
    background-color: #00153F;
}

/* switch language menu item */
.mtpc_header .top-header .language-switcher-language-url li {
    border-top-color: #19356C;
}

/* switch language menu item hover */
.mtpc_header .top-header .switch-language li:hover {
    background-color: #00153F;
}

/*                              main Header                                         */
/* Main header background (greater than 1180px) */
.mtpc_header .header.desktop {
    background-color: #ffffff;
}

/* Main header background (less than 1180px) */
.mtpc_header .header.mobile {
    background-color: #ffffff;
}

/* Main header background Newsletter */
.mtpc_newsletter_header .header_wrapper {
    background-color: #ffffff;
}

/* Main header Issue details */
.mtpc_newsletter_header .right_container .issue_details {
    color: #777777;
}

/* Main header Issue Name */
header .mtpc_newsletter_header .issue_title .issue_name {
    color: #000000;
}

/* Main header Issue subtitle */
header .mtpc_newsletter_header .issue_title .issue_subtitle {
    color: #777777;
}

.mtpc_newsletter_header .right_container .search_icon i {
    border: 1px solid #cccccc;
    color: #999999;
}

/* main header background and opacity if transparent (scrolling) */
.mtpc_header .header.transparent.not_top {
    background-color: rgba(255, 255, 255, 1);
}

/*                              Main navigation                                     */

/* First Level Item Color */
.mtpc_header .navigation > ul.menu > li a, .mtpc_header .navigation > ul.menu > li span {
    color: #777777;
}

/* First Level Item Color hover*/
.mtpc_header .navigation > ul.menu > li a:hover, .mtpc_header .navigation > ul.menu > li span:hover {
    color: #003366;
}

/* Second Level background color*/
.mtpc_header .navigation > ul.menu > li > ul > li {
    background-color: #f7f7f7;
}

/* Second Level Item Color*/
.mtpc_header .navigation > ul.menu > li > ul > li a, .mtpc_header .navigation > ul.menu > li > ul > li span {
    color: #0085B2;
}

/* Second Level Item hover*/
.mtpc_header .navigation > ul.menu > li > ul > li a:hover, .mtpc_header .navigation > ul.menu > li > ul > li span:hover {
    color: #003366;
}

/* Search button (magnifier)*/
.mtpc_header .search_icon a i {
    color: #777777;
}

/* Search button hover (magnifier)*/
.mtpc_header .search_icon a i:hover {
    color: #003366;
}

/*                         Main navigation Newsletter                        */

/* Main navigation background */
.mtpc_newsletter_header .header_wrapper .second_row {
    background-color: #f1f1f1;
}

/* First Level Item Color */
.mtpc_newsletter_header .newsletter_menu > ul.menu > li a, .mtpc_newsletter_header .newsletter_menu > ul.menu > li span {
    color: #000000;
}

/* First Level Item Color hover*/
.mtpc_newsletter_header .newsletter_menu > ul.menu > li a:hover, .mtpc_newsletter_header .newsletter_menu > ul.menu > li span:hover {
    color: #0085b2;
}

/* Menu Active Link */
header .mtpc_newsletter_header .second_row .newsletter_menu > ul.menu > li.menu-item--active-trail > a, header .mtpc_newsletter_header .second_row .newsletter_menu > ul.menu > li.menu-item--active-trail > span {
    color: #0085b2;
}

/* Second Level background color*/
.mtpc_newsletter_header .newsletter_menu > ul.menu > li > ul > li {
    background-color: #f7f7f7;
}

/* Second Level Item Color*/
.mtpc_newsletter_header .newsletter_menu > ul.menu > li > ul > li a, .mtpc_newsletter_header .newsletter_menu > ul.menu > li > ul > li span {
    color: #0085B2;
}

/* Second Level Item hover*/
.mtpc_newsletter_header .newsletter_menu > ul.menu > li > ul > li a:hover, .mtpc_newsletter_header .newsletter_menu > ul.menu > li > ul > li span:hover {
    color: #0085b2;
}

/*                              Page Content                                     */
/* Page Title background */
.mtpc_pagetitle {
    background-color: #00A2DB;
}

/* News Page Title background */
.mtpc_pagetitle.mtpc_news {
    background-color: rgba(0, 0, 0, 0);
}

/* Album Page Title background */
.mtpc_pagetitle.mtpc_gallery {
    background-color: rgba(0, 0, 0, 0);
}

/* Search Page Title background */
.mtpc_pagetitle.mtpc_search {
    background-color: rgba(0, 0, 0, 0);
}

/* Sitemap Page Title background */
.mtpc_pagetitle.mtpc_sitemap {
    background-color: rgba(0, 0, 0, 0);
}

/* Page Title Text color */
.mtpc_pagetitle h1 {
    color: #ffffff;
}

/* Page Title Text color */
.mtpc-pageTitle-block h1 {
    color: #ffffff;
}

/* News Page Title Text color */
.mtpc_pagetitle.mtpc_news h1 {
    color: #003366;
}

/* Album Page Title Text color */
.mtpc_pagetitle.mtpc_gallery h1 {
    color: #003366;
    font-weight: 800;
    text-transform: unset;
    font-size: 1.8em;
    font-family: 'Muli', 'Microsoft JhengHei', "微軟正黑體", sans-serif;
}

/* Search results page Title Text color */
.mtpc_pagetitle.mtpc_search h1 {
    color: #003366;
}

/* Search results page Title Text color */
.mtpc_pagetitle.mtpc_sitemap h1 {
    color: #003366;
}

/* News date color */
.mtpc_news_date {
    color: #0085b2;
}

/* News Title Hover */
.mtpc_news_title a:hover {
    color: #0085b2;
}

/* Album/Gallery date color & background */
.mtpc-album-date {
    background-color: rgba(0, 0, 0, 0);
    color: #999999;
}

/* Album/Gallery title color */
.album_title .title_link a {
    color: #003366;
}

/* Global date color */
.date-blue {
    color: #0085b2;
}

/* News listing border color */
.view-id-news_events .views-row {
    border-bottom-color: #ddeaee;
}

/* News listing pager border color */
.view-id-news_events .pager__item.is-active {
    border-color: #1a91b9;
}

/* Breadcrumbs Background */
.breadcrumb {
    background-color: rgba(0, 0, 0, 0);
}

/* Breadcrumbs text color */
.breadcrumb ol li {
    color: #0085b2;
}

/* Breadcrumbs text color (Last item) */
.breadcrumb ol li:last-of-type {
    color: #999999;
}

/* Breadcrumbs Link color */
.breadcrumb ol li a {
    color: #0085b2;
}

/* Breadcrumbs Link Hover */
.breadcrumb ol li a:hover {
    color: #333333;
}

/* PageTitle Breadcrumbs text color */
.mtpc-pageTitle-block .breadcrumb ol li {
    color: #76cdd3;
}

/* PageTitle Breadcrumbs Link color */
.mtpc-pageTitle-block .breadcrumb ol li a {
    color: #76cdd3;
}

/* PageTitle Breadcrumbs Link Hover */
.mtpc-pageTitle-block .breadcrumb ol li a:hover {
    color: #ffffff;
}

/*                              Block Content                                     */

/* accordion title color */
.mtpc-block-accordian-block-title {
    color: #0085B2;
}

/* Icon Text Highlight (icon color) */
.mtpc-block-icon-text-highlight .icon_container i {
    color: #003366;
}

/* Event Carousel Calendar box background */
.mtpc-block-event-carousel .calendar_container {
    background-color: #4894de;
}

/* Event Carousel Calendar box day/month color */
.mtpc-block-event-carousel .calendar_container {
    color: #ffffff;
}

/* Event Carousel arrow color */
.mtpc-block-event-carousel .slick-prev:before, .mtpc-block-event-carousel .slick-next:before {
    color: #cccccc;
}

/* 3-Column Carousel Item Hover */
.mtpc-block-3col-carousel .three_col_carousel_item:hover {
    background-color: #f0f8ff;
}

/* 3-Column Carousel Image Caption Color */
.mtpc-block-3col-carousel .image_caption {
    color: #ffffff;
}

/* 3-Column Carousel arrow color */
.mtpc-block-3col-carousel .slick-prev:before, .mtpc-block-3col-carousel .slick-next:before {
    color: #cccccc;
}

/* 3-Column Carousel more button */
.mtpc-block-3col-carousel .more_button a {
    color: #3b3b3b;
}

/* 3-Column Carousel more button hover */
.mtpc-block-3col-carousel .more_button a:hover {
    color: #4894de;
}

/* 3-Column Carousel dots background */
.mtpc-block-3col-carousel .slick-dots li {
    background-color: #ababab;
}

/* 3-Column Carousel dots background (Active) */
.mtpc-block-3col-carousel .slick-dots li.slick-active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #003366;
}

/* Nav Menu Block */
/*   Desktop Style 1 Item Background   */
.mtpc-block-nav-menu .desk-style1 li.mtpc-nav-menu-item {
    background-color: #23A4B6;
}

/*   Desktop Style 1 Item Background Active   */
.mtpc-block-nav-menu .desk-style1 li.mtpc-nav-menu-item.is-active {
    background-color: #555555;
}

/*   Desktop Style 1 Item Background Hover   */
.mtpc-block-nav-menu .desk-style1 li.mtpc-nav-menu-item:hover {
    background-color: #555555;
}

/*   Desktop Style 1 Item Link Color   */
.mtpc-block-nav-menu .desk-style1 li.mtpc-nav-menu-item a {
    color: #FFFFFF;
}

/*   Desktop Style 2 Item separator   */
.mtpc-block-nav-menu ul.mtpc-nav-menu-wrapper li.desk-style2:after {
    background-color: #cccccc;
}

/*   Desktop Style 2 Item Link Color   */
.mtpc-block-nav-menu .desk-style2 li.mtpc-nav-menu-item a {
    color: #23a4b6;
}

/*   Desktop Style 2 Item Link Color Active  */
.mtpc-block-nav-menu .desk-style2 li.mtpc-nav-menu-item a.is-active {
    color: #444444;
}

/*   Desktop Style 2 Item Link Color Hover  */
.mtpc-block-nav-menu .desk-style2 li.mtpc-nav-menu-item a:hover {
    color: #000000;
}

/*   Desktop Style 3 main border bottom color   */
.mtpc-block-nav-menu .desk-style3 {
    border-color: #cccccc;
}

/*   Desktop Style 3 item border color   */
.mtpc-block-nav-menu ul.mtpc-nav-menu-wrapper li.desk-style3 {
    border-color: #cccccc;
}

/*   Desktop Style 3 active item border color   */
.mtpc-block-nav-menu ul.mtpc-nav-menu-wrapper li.desk-style3.is-active {
    border-top-color: #23A4B6;
}

/*   Desktop Style 3 item link color   */
.mtpc-block-nav-menu .desk-style3 a {
    color: #23a4b6;
}

/*   Desktop Style 3 item hover link   */
.mtpc-block-nav-menu .desk-style3 a:hover {
    color: #000000;
}

/*   Desktop Style 3 item active link   */
.mtpc-block-nav-menu .desk-style3 a.is-active {
    border-color: #ffffff;
    color: #000000;
}

/*   Mobile Style Scroll Item separator   */
.mtpc-block-nav-menu .mob-scroll li:after {
    background-color: #cccccc;
}

/*   Mobile Style Scroll Item Link Color   */
.mtpc-block-nav-menu .mob-scroll li.mtpc-nav-menu-item a {
    color: #23a4b6;
}

/*   Mobile Style Scroll Item Link Color Active  */
.mtpc-block-nav-menu .mob-scroll li.mtpc-nav-menu-item .is-active {
    color: #000000;
}

/*   Mobile Style Scroll Arrow background  */
.mtpc-block-nav-menu .mob-scroll .scroll-button {
    background-color: #ffffff;
}

/*   Mobile Style Scroll Arrow Color Active  */
.mtpc-block-nav-menu .mob-scroll .scroll-button i {
    color: #cccccc;
}

/*   Mobile Style Scroll Scroll Arrow Color Active  */
.mtpc-block-nav-menu .mob-scroll .scroll-button:not(.disabled):not(.initial-disabled) i {
    color: #23a4b6;
}

/*   Mobile Style Dropdown body  */
.mtpc-block-nav-menu .mob-dropdown {
    background-color: #23a4b6;
}

/*   Mobile Style Dropdown Head  */
.mtpc-block-nav-menu .mob-dropdown .menuNavHead {
    background-color: #23a4b6;
    color: #ffffff;
}

/*   Mobile Style Dropdown Item link  */
.mtpc-block-nav-menu .mob-dropdown a {
    color: #555555;
}

/*   Mobile Style Dropdown Item link Hover  */
.mtpc-block-nav-menu .mob-dropdown a:hover {
    color: #ffffff;
}

/* Default Button color*/
a.text-btn, button, input[type=button] {
    background-color: #00A3DA;
    color: #FFFFFF;
}

/* Default Button color [grey]  */
a.text-btn.grey-btn, a.text-btn.newsletter-btn {
    background-color: rgba(0, 0, 0, 0);
    color: #999999;
    border: 1px solid #999999;
}

/* Default Button color hover*/
a.text-btn:hover, button:hover, input[type=button]:hover {
    background-color: #0085b2;
    color: #FFFFFF;
}

/* Default Button color hover [grey]  */
a.text-btn.grey-btn:hover, a.text-btn.newsletter-btn:hover {
    background-color: #999999;
    color: #FFFFFF;
    border: 1px solid #999999;
}

/* Default Button color hover [grey - section dark]  */
.section-dark a.text-btn.newsletter-btn {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

/* Default Button color hover [grey - section dark]  */
.section-dark a.text-btn.newsletter-btn:hover {
    background-color: #FFFFFF;
    color: #333333;
    border: 1px solid #FFFFFF;
}

/* Profile Listing Name Color */
.mtpc_profile_name_container > a {
    color: #0085B2;
}

/* Profile Listing Name Hover */
.mtpc_profile_name_container > a:hover {
    color: #003366;
}

/*Table Elements */
/* Tble-Line preset class */
table.tbl-border th {
    border: 1px solid #666;
}

table.tbl-border td {
    border: 1px solid #666;
}

/* Tble-Line preset class */
table.tbl-line thead tr th {
    background-color: #00B2B2;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

table.tbl-line thead tr td {
    background-color: #EEEEEE;
}

table.tbl-line tbody tr td {
    border-bottom: 1px solid #DDEAEE;
    border-top: medium none;
}

table.tbl-line tbody tr td strong,
table.tbl-line tbody tr td b {
    color: #0085B2;
}

table.tbl-line tr:nth-of-type(1) td {
    border-top: 1px solid #DDEAEE;
}

/* Tbl-BG preset class */
table.tbl-bg thead tr th {
    background-color: #0085b2;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
}

table.tbl-bg tbody tr td {
    border-bottom: 2px solid #FFF;
}

table.tbl-bg tbody tr td b,
table.tbl-bg tbody tr td strong {
    color: #0085B2;
}

table.tbl-bg tbody tr:nth-of-type(odd) {
    background-color: #EEEEEE;
}

table.tbl-bg tbody tr:nth-of-type(even) {
    background-color: #DDEAEE;
}

/*  Image caption background & text color*/
.mtpc-image-caption.has-background, .mtpc-block-image-block-image-caption.has-background {
    background-color: #0085b2;
    color: #ffffff;
}

/*  Image caption Link color*/
.mtpc-image-caption.has-background a, .mtpc-block-image-block-image-caption.has-background a {
    color: #ffffff;
}

/*  Next & Previous Link color    */
.mtpc-block-next-previous .next-previous-wrapper a {
    border: 1px solid #cccccc;
    color: #999999;
}

/*  Well blocks color/bg    */
.mtpc-well:not(.mtpc-1col-section):not(.mtpc-2col-section):not(.mtpc-3col-section):not(.mtpc-4col-section) {
    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid #333333;
}

/*  Well Sections color/bg    */
.mtpc-well .mtpc-1col-section-wrapper, .mtpc-well .mtpc-2col-section-wrapper, .mtpc-well .mtpc-3col-section-wrapper, .mtpc-well .mtpc-4col-section-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid #333333;
}

/*  Well blocks color/bg [Dark]    */
.mtpc-well.well-dark:not(.mtpc-1col-section):not(.mtpc-2col-section):not(.mtpc-3col-section):not(.mtpc-4col-section) {
    background-color: rgba(0, 0, 0, 0.5);
    border: medium none;
}

/*  Well Sections color/bg [Dark]   */
.mtpc-well.well-dark .mtpc-1col-section-wrapper, .mtpc-well.well-dark .mtpc-2col-section-wrapper, .mtpc-well.well-dark .mtpc-3col-section-wrapper, .mtpc-well.well-dark .mtpc-4col-section-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    border: medium none;
}

/*  Well Paragraph [Light]   */
p.mtpc-well {
    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid #333333;
}

/*  Well Paragraph [Dark]   */
p.mtpc-well.well-dark {
    background-color: rgba(0, 0, 0, 0.6);
    border: medium none;
    color: #ffffff;
}

/*                              Footer                                     */
/* Footer global background */
.mtpc_footer {
    background-color: #003366;
}

/* Back to top button */
#back-to-top {
    background-color: #ededed;
    color: #003366;
}

/* Footer global text color */
.mtpc_footer, .mtpc_footer p, .mtpc_footer i {
    color: #ffffff
}

/* Footer global Link color */
.mtpc_footer a, ul.menu a.is-active {
    color: #ffffff
}

/* Footer global Link hover color */
.mtpc_footer a:hover {
    color: #ffffff
}

/* Footer Social Links circle color */
.mtpc_footer .footer_social a {
    border-color: #ffffff
}

/* Footer global text color [Newsletter] */
.mtpc_footer.mtpc_build_newsletter, .mtpc_footer.mtpc_build_newsletter p, .mtpc_footer.mtpc_build_newsletter i {
    color: #555555
}

/* Footer global Link color [Newsletter] */
.mtpc_footer.mtpc_build_newsletter a, .mtpc_footer.mtpc_build_newsletter ul.menu a.is-active {
    color: #555555
}

/* Footer global Link hover color [Newsletter] */
.mtpc_footer.mtpc_build_newsletter a:hover {
    color: #000000
}

/* Footer Social Links colors [Newsletter] */
.mtpc_footer.mtpc_build_newsletter .footer_social a, .mtpc_footer.mtpc_build_newsletter .footer_social i {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #92abbf;
}

/*  Edit page tabs at the bottom    */
nav.tabs ul.tabs.primary li a {
    color: #003366;
}

.color1 {
    color: #0085B2;
}

.color2 {
    color: #AC7205;
}

.ustColor {
    color: #003366;
}