nav.tabs ul.tabs.primary {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 2;
    margin: 0;
}

nav.tabs ul.tabs.primary li {
    margin: 0;
}

nav.tabs ul.tabs.primary li a {
    background-color: #ccc;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px 4px 0 0;
}

nav.tabs ul.tabs.primary li a.is-active {
    background-color: #003366;
    color: white;
}

nav.tabs ul.tabs.secondary {
    margin: 10px 0;
    text-align: right;
}

nav.tabs ul.tabs.secondary li a {
    margin: 0;
    background-color: #003366;
    border-radius: 4px;
    color: white;
    display: inline-block;
}

main form .filter-wrapper {
    margin-left: 120px;
}

main form .form-item {
    position: relative;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
}

main form .form-item .container-inline .form-item {
    margin-top: 0;
}

main form .form-item .description {
    margin-top: 5px;
    font-size: 12px;
}

main form .form-item label {
    font-weight: 700;
    vertical-align: middle;
    padding-right: 20px;
}

main form .form-item.form-composite {
    zoom: 1;
}

main form .form-item.form-composite:before {
    content: '';
    display: block;
}

main form .form-item.form-composite:after {
    content: '';
    display: table;
    clear: both;
}

main form .form-item.form-composite > legend {
    padding-right: 20px;
}

main form .form-item.form-composite .fieldset-wrapper {
    float: left;
    zoom: 1;
}

main form .form-item.form-composite .fieldset-wrapper:before {
    content: '';
    display: block;
}

main form .form-item.form-composite .fieldset-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

main form .form-item.form-composite .fieldset-wrapper .form-item {
    margin: 0;
    display: inline-block;
    width: auto;
}

main form .form-item.form-composite .fieldset-wrapper input,
main form .form-item.form-composite .fieldset-wrapper label {
    display: inline-block;
    width: auto;
}

main form .form-item input[type=text],
main form .form-item input[type=password],
main form .form-item input[type=email],
main form .form-item input[type=number],
main form .form-item input[type="tel"],
main form .form-item input[type="date"],
main form .form-item input[type="time"],
main form .form-item select,
main form .form-item textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -webkit-appearance: none;
    box-sizing: border-box;
}

main form .form-item input[type="date"] {
    width: auto;
}

main form .form-item input[type="checkbox"],
main form .form-item input[type="radio"] {
    transform: scale(1.3);
}

main form .form-item.form-type-checkbox {
    width: 100%;
}

main form .form-item.form-type-checkbox label {
    vertical-align: top;
    width: 100%;
    padding-left: 20px;
}

main form .form-item.form-type-textarea label,
main form .form-item.form-type-webform-custom-composite label {
    vertical-align: top;
    padding-top: 10px;
}

main form .form-item.form-type-webform-radios-other > label,
main form .form-item.form-type-webform-checkboxes-other > label {
    vertical-align: top;
    padding-top: 10px;
}

main form .form-item.form-type-webform-radios-other .webform-options-display-one-column .form-item,
main form .form-item.form-type-webform-checkboxes-other .webform-options-display-one-column .form-item {
    display: block;
}

main form .form-item.form-type-webform-radios-other .form-item label,
main form .form-item.form-type-webform-checkboxes-other .form-item label,
main form .form-item.form-type-webform-radios-other .form-item input,
main form .form-item.form-type-webform-checkboxes-other .form-item input {
    display: inline-block;
    width: auto;
}

main form .form-item.form-type-webform-custom-composite .container-inline {
    display: inline-block;
}

main form .form-item.form-type-webform-custom-composite button.tabledrag-toggle-weight,
main form .form-item.form-type-webform-custom-composite input[data-drupal-selector*="-add-submit"],
main form .form-item.form-type-webform-custom-composite div[class*="-add-more-items"] {
    display: none;
}

main form .form-item.form-type-webform-custom-composite div.webform-multiple-table > table {
    width: 100%;
}

main form fieldset {
    padding: 0;
    border: 0;
}

main form fieldset legend {
    font-weight: 700;
    font-size: 20px;
}

main form .form-item + fieldset {
    margin-top: 30px;
}

main form form.block-content-form .form-item label {
    margin-top: 0;
    line-height: 1.25em;
}

main form .form-item.text-format-wrapper,
main form .form-item.form-type-vertical-tabs,
main form [id*="-add-more-wrapper-"] > .form-item {
    padding-left: 0;
}

main form .text-format-wrapper .filter-wrapper {
    position: relative;
    margin-bottom: 40px;
    overflow: visible;
}

main form .text-format-wrapper .filter-wrapper .filter-help {
    position: absolute;
    bottom: -25px;
    right: 0;
}

main form .text-format-wrapper .filter-wrapper .tips {
    margin-left: 15px;
}

main form .text-format-wrapper .filter-wrapper label {
    margin-top: 5px;
}

main form .field-multiple-table {
    width: 100%;
}

main form .form-actions {
    margin-top: 2em;
}

main form .form-actions input[type=submit] {
    -webkit-appearance: none;
    border: 0;
    background-color: #003366;
    color: white;
    font-family: 'muli', 'arial', sans-serif;
    padding: 8px 13px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

main form .form-actions > * + * {
    margin-left: 5px;
}

main form.user-login-form a.cas-login-link {
    display: inline-block;
    border: 0;
    background-color: #5c8a1c;
    color: white;
    font-family: 'muli', 'arial', sans-serif;
    padding: 8px 13px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}

.menu-item--expanded {
    list-style-image: none;
}