header .config_pages--type--header-block .mobile_menu_wrapper .mobile_navigation>ul.menu>li>a, header .config_pages--type--header-block .mobile_menu_wrapper .mobile_navigation>ul.menu>li>span {
    text-transform: none;
}

h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.75em;
}
h3 {
  font-size: 1.95em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
  font-weight:800;
}
blockquote p {
  line-height: 1.3;
}
a.text-btn,
button,
input[type=button] {
  padding: 8px 30px;
}
a.text-btn.grey-btn,
button.grey-btn,
input[type=button].grey-btn,
a.text-btn.newsletter-btn,
button.newsletter-btn,
input[type=button].newsletter-btn {
  padding: 5px 25px;
}

.fa-icon {
  padding: 5px 10px;
  font-size:0.9em;
  font-weight:600;
}
.fa-icon > .fa-solid {
  padding: 0 5px;
}


/*Table Elements */
table th {
  padding: 1em 1.5em;
}
table td {
  padding: 1em 1.5em;
  min-width: 180px;
}