body {
  font-family: 'Muli', 'Microsoft JhengHei', "微軟正黑體", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 0.2em;
}
h1 {
  font-size: 1.8em;
  line-height: 1.3;
}
h2 {
  font-size: 1.5em;
  line-height: 1.3;
}
h3 {
  font-size: 1.2em;
  line-height: 1.3;
}
h4 {
  font-size: 1em;
  line-height: 1.5;
}
h5 {
  font-size: 0.8em;
  line-height: 1.5;
}
h6 {
  font-size: 0.8em;
  line-height: 1.6;
  font-weight: normal;
}
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  font-weight: 700;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 800;
  text-transform: unset;
  margin-top: 0;
}
p,
li {
  font-size: 1em;
  margin: 0;
  margin-bottom: 1.1em;
}
hr {
  margin: 1em 0;
  border-style: solid;
  border-width: 2px;
}
small {
  font-size: smaller;
}
strong,
b {
  font-weight: bold;
}
del,
s {
  text-decoration: line-through;
}
ins,
u {
  text-decoration: underline;
}
em,
i {
  font-style: italic;
}
img {
  width: 100%;
  height: auto;
  line-height: 0;
  display: block;
}
blockquote {
  display: block;
  margin: 1em 10px 1em 3px;
  padding-left: 15px;
  font-size: 1em;
  border-left: 4px solid;
}
ul,
ol {
  display: block;
  padding-left: 1em;
  margin-left: 1em;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: 0.5em;
}
li > ol > li,
li > ul > li {
  margin-top: 0.5em;
}
a.text-btn,
button,
input[type=button] {
  padding: 8px 25px;
  font-size: 0.8em;
  font-weight: 600;
  border: medium none;
  text-decoration: none;
}
a.text-btn.grey-btn,
button.grey-btn,
input[type=button].grey-btn,
a.text-btn.newsletter-btn,
button.newsletter-btn,
input[type=button].newsletter-btn {
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.mtpc_banner_caption {
  font-size: 0.9em;
}
.mtpc-image-caption,
.mtpc-block-image-block-image-caption {
  font-size: 0.9em;
  line-height: 1.4;
  padding-top: 0.5em;
}
.mtpc-image-caption--news,
.mtpc-block-image-block-image-caption--news {
  line-height: 1.5;
  font-size: 0.9em;
  padding-top: 1em;
}
.mtpc-image-caption.has-background,
.mtpc-block-image-block-image-caption.has-background {
  min-height: 3em;
  padding: 0.5em;
  text-align: center;
  font-weight: 600;
}
.mtpc_news_date {
  font-size: 0.8em;
  margin-bottom: 3px;
}
.date-blue {
  font-size: 0.8em;
}
.mtpc-album-date {
  margin-top: 20px;
  padding: 0 0;
  font-size: 0.84em;
  display: inline-block;
  line-height: 1.8;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
.remark {
  font-size: 0.7em;
}
.date-blue {
  margin-top: 0;
}
/*Table Elements */
table {
  margin-bottom: 2em;
  font-size: 0.9em;
  overflow-wrap: break-word;
  border-collapse: collapse;
}
table th {
  padding: 0.5em 1em;
  font-weight: 700;
  text-align: center;
  border-left: medium hidden;
  border-bottom: medium hidden;
  border-right: medium hidden;
  border-top: medium hidden;
}
table td {
  padding: 0.5em 1em;
  border-left: medium hidden;
  border-bottom: medium hidden;
  border-right: medium hidden;
  border-top: medium hidden;
  min-width: 200px;
}
table.tbl-line tbody tr td {
  border-bottom: 2px solid #DDEAEE ;
  border-top: unset ;
}
table.tbl-line tbody tr td strong,
table.tbl-line tbody tr td b {
  font-weight: 800;
}
table.tbl-bg tbody tr td {
  border-top: unset !important;
}
table.tbl-bg tbody tr td strong,
table.tbl-bg tbody tr td b {
  font-weight: 800;
}
table.tbl-border th {
  border-collapse: collapse;
}
table.tbl-border td {
  border-collapse: collapse;
}
table.tbl-noborder th {
  border: medium hidden;
}
table.tbl-noborder td {
  border: medium hidden;
}
table.tbl-scroll {
  display: block;
  overflow-x: auto;
  border: medium hidden;
}
.mtpc-profile-list-title {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #e6e6e6;
  margin-bottom: 40px;
}
.mtpc_profile_name {
  font-size: 1.112em;
  font-weight: 800;
  line-height: 1.3;
}
.mtpc_pd_picture p {
  font-size: 0.83em;
  line-height: 1.3em;
}
.mtpc-block-slideshow-block .slide-text {
  background-color: rgba(0, 51, 102, 0.8);
  overflow: hidden;
  font-size: 1.1em;
  font-weight: 800;
  line-height: 1.6em;
  color: #ffffff;
  border-radius: 3px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  white-space: nowrap;
}
a.external-icon:after {
  content: '\f360';
  font-family: "Font Awesome 5 Pro";
  padding-left: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
/* HKUST Footer - Cookie */
div#sliding-popup {
  background-color: #036;
}
.eu-cookie-compliance-banner {
  letter-spacing: 0.4px;
}
.eu-cookie-compliance-banner .popup-content {
  display: block;
  padding: 10px 20px;
}
.eu-cookie-compliance-message {
  float: left;
  margin: 5px 0 0;
  max-width: 60%;
}
@media only screen and (max-width: 767px) {
  .eu-cookie-compliance-message {
    max-width: 100%;
  }
}
.eu-cookie-compliance-banner .eu-cookie-compliance-message h2 {
  font-size: 1em;
  margin: 0;
  line-height: 1.2em;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-message p {
  font-size: 12px;
  display: inline;
  font-weight: 400;
}
.eu-cookie-compliance-more-button {
  cursor: pointer;
  display: inline;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: underline;
  background: none;
}
.eu-cookie-compliance-buttons {
  float: right;
  margin: 0 0 1em 0;
  max-width: 40%;
}
@media only screen and (max-width: 767px) {
  .eu-cookie-compliance-buttons {
    clear: both;
    float: none;
    max-width: 100%;
    margin: 5px 0 1em;
  }
}
.eu-cookie-compliance-banner .eu-cookie-compliance-buttons button.agree-button {
  background: #4A8FD5;
  display: inline;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-buttons button {
  font-family: 'Muli', 'Microsoft JhengHei', "微軟正黑體", sans-serif;
  background: #ABB1BA;
  font-weight: 700;
  color: white;
  border: 0;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  letter-spacing: 0.2px;
  padding: 6px 18px;
}
.eu-cookie-compliance-default-button,
.eu-cookie-compliance-hide-button,
.eu-cookie-compliance-more-button-thank-you,
.eu-cookie-withdraw-button {
  cursor: pointer;
  margin-right: 5px;
  margin-top: 1em;
  vertical-align: middle;
  overflow: visible;
  width: auto;
}
.eu-cookie-compliance-more-button:hover {
  background-color: #036 !important;
}


.view-id-news_events {
  margin: 0 auto;
}
