.mtpc-well:not(.mtpc-1col-section):not(.mtpc-2col-section):not(.mtpc-3col-section):not(.mtpc-4col-section) {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border: 0 !important;
}

.view-id-mtpc_albums {
    padding: 0px 15px;
}

div.mtpc-1col-item.mtpc-1col-item--1 table.tbl-line tbody tr td {
  border-bottom: 1px solid #000;
  border-top: 1px solid #ccc;
}

/* For 35a hkust logo */
body header .mtpc_header .header .wrapper .logos .logos_left .logo_one img{
 width:100%; 
}
